.result-box {
    height: 100%;
    min-height: 107px;
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.result-text {
    font-style: normal;
    font-weight: 274;
    font-size: 80px;
    line-height: 107px;
    color: #FFFFFF;
}

@media (max-width: 500px) {
    .result-text {
        font-style: normal;
        font-weight: 274;
        font-size: 70px;
        line-height: 107px;
        color: #FFFFFF;
    }
}

